#cro-erc-process > div > div > ul:nth-child(1) > li:nth-child(1),
#cro-erc-process > div > div > ul:nth-child(2) > li:nth-child(1),
#cro-erc-process > div > div > ul:nth-child(3) > li:nth-child(1) {
  color: white;
  text-align: center;
  font-weight: bold;
}

/* #table1erc div:nth-child(1) > .InovuaReactDataGrid__column-header--unlockable,  */
#cro-erc-process > div > div > ul:nth-child(1) > li:nth-child(1) {
  color: #E12D2D;
  background-color: #E12D2D !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  line-height: 10px;
  font-size: 1px;
}
/* #table1erc div:nth-child(10) > .InovuaReactDataGrid__column-header--unlockable, */
#cro-erc-process > div > div > ul:nth-child(2) > li:nth-child(1) {
  color: #FFC700;
  background-color: #FFC700;
  line-height: 10px;
  font-size: 1px;
}

/* #table1erc div:nth-child(15) > .InovuaReactDataGrid__column-header--unlockable,*/
#cro-erc-process > div > div > ul:nth-child(3) > li:nth-child(1) {
  color: #55D65B;
  background-color: #55D65B;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 10px;
  font-size: 1px;
}

#table1erc {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#table1erc .InovuaReactDataGrid {
  border: none;
}

#table1erc .InovuaReactDataGrid__row-active-borders {
  display: none;
}

#table1erc .InovuaReactDataGrid__cell {
  border: none;
  padding: 0;
  padding-right: 0.5rem;
}

/* #table1erc .inovua-react-scroll-container__wrapper {
  border: 1px solid black;
} */

#table1erc .InovuaReactDataGrid__row-cell-wrap {
  border: solid 1px black;
  border-top: none;
}

#table1erc .InovuaReactDataGrid__box--ellipsis {
  padding: 0.5rem 0;
}

/* #table1erc
  .InovuaReactDataGrid__row-cell-wrap
  .InovuaReactDataGrid__cell:first-child {
  background-color: red;
} */

#table1erc
  .InovuaReactDataGrid__column-header__resize-wrapper--show-border-left {
  border: none;
}

#table1erc .InovuaReactDataGrid__header {
  border-color: black;
}

#table1erc .InovuaReactDataGrid__column-header__filter-wrapper--empty {
  display: none;
}

#cro-erc-process {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

#cro-erc-process > div > h1 {
  font-weight: bold;
  padding: 1rem 0rem;
}

#cro-erc-process > div > div {
  display: flex;
}

#cro-erc-process > div > div > ul {
  width: 33.33%;
}

#cro-erc-process > div > div > ul > li:nth-child(2) ,#cro-erc-process > div > div > ul > li:nth-child(3) {
  text-align: center;
  font-size: 0.7rem;
  padding: 0.5rem 0rem 0rem 0rem;
  font-weight: 600;
}

#cro-erc-process > div > div > ul:nth-child(1) > li:nth-child(2) {
  color: white!important;
  background-color: #E12D2D !important;
  padding: 6px;
  margin: 2.5% 35% 0% 35%;
  border-radius: 5px;
}

#cro-erc-process > div > div > ul:nth-child(1) > li:nth-child(2)::before {
  content: '';
  position: relative;
  top: -39px;
  left: 28%;
  margin-left: -10px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #E12D2D transparent;
}

#cro-erc-process > div > div > ul:nth-child(2) > li:nth-child(2) {
  color: white!important;
  background-color: #FFC700 !important;
  padding: 6px;
  margin: 2.5% 35% 0% 35%;
  border-radius: 5px;
}

#cro-erc-process > div > div > ul:nth-child(2) > li:nth-child(2)::before {
  content: '';
  position: relative;
  top: -39px;
  left: 28%;
  margin-left: -10px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #FFC700 transparent;
}

#cro-erc-process > div > div > ul:nth-child(3) > li:nth-child(2) {
  color: white!important;
  background-color: #55D65B !important;
  padding: 6px;
  margin: 2.5% 35% 0% 35%;
  border-radius: 5px;
}

#cro-erc-process > div > div > ul:nth-child(3) > li:nth-child(2)::before {
  content: '';
  position: relative;
  top: -39px;
  left: 28%;
  margin-left: -10px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #55D65B transparent;
}

@media only screen and (min-width: 700px) {
  #cro-erc-process > div > div > ul > li:nth-child(2), #cro-erc-process > div > div > ul > li:nth-child(3) {
    font-size: 1rem;
  }

  #cro-erc-process {
    flex-direction: row;
  }

  #cro-erc-process > img {
    width: 20%;
    height: 100%;
  }

  #cro-erc-process > div {
    width: 100%;
  }
}

@media (max-width: 700px) {
  #cro-erc-process > div > div > ul:nth-child(1) > li:nth-child(2), 
  #cro-erc-process > div > div > ul:nth-child(2) > li:nth-child(2), 
  #cro-erc-process > div > div > ul:nth-child(3) > li:nth-child(2) {
    margin: 14% 4%!important;
  }
  #cro-erc-process > div > div > ul:nth-child(1) > li:nth-child(2)::before, 
  #cro-erc-process > div > div > ul:nth-child(2) > li:nth-child(2)::before, 
  #cro-erc-process > div > div > ul:nth-child(3) > li:nth-child(2)::before {
    top: -30px!important;
    left: 43%!important;
  }
}
