.align-center{
    text-align: center;
}

.align-end{
    text-align: end;
}

.red-text{
    color: #E35C49;
}

.disc-here::before{
        content: '•';
        font-size: 16px; 
        margin-right: 10px; 
        display: inline-block;
        vertical-align: middle
}

.custom-green{
    background-color: rgba(84, 165, 44, 1);
}

.custom-yellow{
    background-color: #FFAA00;
}

.custom-gray{
    background-color: #404040;
}

.myDataGrid {
    @media screen and (max-width: 480px) {
          width: 120%;
        }
}

.myDataGridSum {
    @media screen and (max-width: 480px) {
          width: 300%;
        }
}

.myDataGridIT {
    @media screen and (max-width: 480px) {
          width: 600%;
        }
}

.myDataGridTB {
    @media screen and (max-width: 480px) {
          width: 900%;
        }
}
.myDataGrid .MuiDataGrid-columnHeader {
    border-right: 'none!important';
    font-weight: 'bold!important';
    font-size: '1.5em!important';
}
.myDataGrid .MuiDataGrid-cell {
    border-right: 'none!important';
}

.left-83{
    left: 83%;
    @media screen and (max-width: 399px) {
        left: 0;
    }
}