.dashboardLayout {
  @apply grid w-full h-full min-h-screen fixed;
  grid-template-columns: 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas:
    "navbar"
    "content";
}

@media screen(lg) {
  .dashboardLayout {
    grid-template-columns: 260px 1fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas:
      "drawer navbar"
      "drawer content";
  }
}

.dashboardLayout__navbar {
  @apply w-full bg-white z-30;
  grid-area: navbar;
}

.dashboardLayout__drawer {
  @apply sticky top-0 left-0 h-full bg-primary-500 z-20 w-[260px] lg:w-full overflow-y-auto hidden lg:block lg:z-40;
  grid-area: drawer;
}

.dashboardLayout__content {
  @apply px-4 py-6 font-body overflow-y-auto;
  grid-area: content;
  background-color: #ececec;
}

/* Grid Dashboard Overview */

.overviewLayout {
  @apply max-w-7xl mx-auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-areas:
    "promotionTracker"
    "graphics"
    "steps"
    "totalEarnings"
    "totalOrders"
    "estimatedCommissions"
    "myOrders"
    "payRank"
    "currentRank";
  gap: 20px;
}

@media screen(sm) {
  .overviewLayout {
    @apply grid-flow-row grid-cols-2;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr); */
  }
}

.overviewLayout__promotionTracker {
  @apply h-[6.5rem] sm:col-span-1 sm:row-span-1;
  /* grid-area: promotionTracker; */
}

.overviewLayout__graphics {
  @apply border-primary-500 border border-solid rounded-md h-full sm:col-span-1 sm:row-span-1;
  /* grid-area: graphics; */
}

.overviewLayout__steps {
  @apply h-full sm:row-start-2 sm:row-end-3 sm:col-span-1 sm:row-span-2;
  /* grid-area: steps; */
}

.overviewLayout__totalEarnings {
  @apply h-[6.5rem] w-full bg-white rounded-md flex justify-start items-center p-3 gap-x-4 sm:row-start-2 sm:col-span-2 sm:row-span-2;
  /* grid-area: totalEarnings; */
}

.overviewLayout__totalOrders {
  @apply h-[6.5rem] w-full bg-white rounded-md flex justify-start items-center p-3 gap-x-4 sm:row-start-3 sm:row-end-3 sm:col-span-1 sm:row-span-3;
  grid-area: totalOrders;
}

.overviewLayout__estimatedCommissions {
  @apply h-[6.5rem] w-full bg-white rounded-md flex justify-start items-center p-3 gap-x-4 sm:col-span-2 sm:row-span-3;
  grid-area: estimatedCommissions;
}

.overviewLayout__myOrders {
  @apply h-[6.5rem] w-full bg-white rounded-md flex justify-start items-center p-3 gap-x-4;
  grid-area: myOrders;
}

.overviewLayout__payRank {
  @apply h-[6.5rem] w-full bg-white rounded-md flex justify-start items-center p-3 gap-x-4;
  grid-area: payRank;
}

.overviewLayout__currentRank {
  @apply h-[6.5rem] w-full bg-white rounded-md flex justify-start items-center p-3 gap-x-4;
  grid-area: currentRank;
}

/* .overviewLayout__topRestaurantsAcquisition {
  @apply bg-primary-300 border-primary-500 border border-solid rounded-md;
  grid-area: topRestaurantsAcquisition;
}

.overviewLayout__topDriverAcquisition {
  @apply bg-primary-300 border-primary-500 border border-solid rounded-md;
  grid-area: topDriverAcquisition;
}

.overviewLayout__topCustomerAcquisition {
  @apply bg-primary-300 border-primary-500 border border-solid rounded-md;
  grid-area: topCustomerAcquisition;
}

.overviewLayout__topOrderline {
  @apply bg-primary-300 border-primary-500 border border-solid rounded-md;
  grid-area: topOrderline;
} */
