.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}

.my-masonry-grid_column {
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.my-masonry-grid_column > li {
  margin-bottom: 30px;
  list-style-type: none;
}