/* hover of the item li>link drawer */

.linkWrapper__activate::before {
  content: " ";
  position: absolute;
  left:13px;
  top:19px;
  width:7px;
  height:28px;
  background:#E74426;
  border-radius: 10px;
}

/* SignUp - Upgrade To Manager - List Benefits */

.custom__bulletList li::marker {
  @apply text-primary-500;
}

/* toggle */
.toggle-bg:after {
  content: '';
  top: 1.8px;
  @apply absolute left-0.5 bg-white border border-gray-300 rounded-full h-5 w-5 transition shadow-sm;
}

input:checked + .toggle-bg:after {
  transform: translateX(100%);
  @apply border-white;
}

input:checked + .toggle-bg {
  @apply bg-primary-500 border-primary-500;
}
