.bgc-black {
    --tw-bg-opacity: 1;
    background-color: #4D655B
}

.video-container {
    position: relative;
    width: 100%;
}


.bg-btn-color {
    background-color: #4D655B!important;
}

.text-red-h {
    color: #4D655B!important;
}

.text-white-h {
    color: black !important;
}

.font-bold-it {
    font-weight: 900 !important;
}

.font-semibold-it {
    font-weight: 700 !important;
}

.pr-right {
    padding-right: 20%;

    @media screen and (max-width: 400px) {
        padding-right: 0%;
    }
}


.custom-text-none {
    text-transform: none;
}

.custom-padding {
    padding: 0px 2.3%;
    margin: 0;
}

.shadow-custom {
    box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.151);
}

.text-black-h {
    color: black;
}

.shadow-md-custom {
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.20);
}

.customDarkGray {
    border: 2px solid #342c22;
    background: #342c2277;
}

.customback {
    border-radius: 5px 5px 0px 0px;
    background:#342c22;
}

.text-navy {
    color: #1E306E;
}

.bg-blue-h-100{
    background-color: #1e306e17;
}



  
