:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #18C8FF;
  --toastify-color-success: #78D92C !important;
  --toastify-color-warning: #FFAA00 !important;
  --toastify-color-error: #FF3D71 !important;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #fff !important;
  --toastify-text-color-dark: #fff;

  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

/* Overide Toastify */
.Toastify__progress-bar.Toastify__progress-bar-theme--light {
  background-color: #fff !important;
}

.Toastify__toast-icon > svg {
  fill: #fff !important;
}

/* Override Success */
.Toastify__toast.Toastify__toast-theme--light.Toastify__toast--success {
  background-color: var(--toastify-color-success);
}

/* Overide Info */
.Toastify__toast.Toastify__toast-theme--light.Toastify__toast--info {
  background-color: var(--toastify-color-info);
}

/* Overide Warn */
.Toastify__toast.Toastify__toast-theme--light.Toastify__toast--warning {
  background-color: var(--toastify-color-warning);
}

/* Overide Error */
.Toastify__toast.Toastify__toast-theme--light.Toastify__toast--error {
  background-color: var(--toastify-color-error);
}